#grey{
    background-color: gray;
    
}
main{
    display: grid;

    
}
.desky{
    margin-left: 50px;
    border-radius: 50%;
    border: 15px solid black;
    width: 300px;
}
.graphic{
    margin:0 auto;
    border-radius:50% ;
    border: 15px solid black;
    width: 300px;
}
.person{
    margin: right 50px;
    border-radius: 50%;
    border: 15px solid black;
    width: 300px;
}
.circles{
    max-width: 100%;
}
